.item, .item2, .current{
	padding: 2%;
}

nav ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;


}



nav li {

	display: inline-block;
	width: 20%;
	

}

nav a {


	text-decoration: none;

}

 img {

	width: 45%;

 }

 body{ 
	
	font-family: 'Poppins', sans-serif;
	
  }

 .current{

 	background-color: #F75A38;

 }


 .background-image{

	background-image: url("../images/delhi.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	text-align: center;
	color: #1B3D61;



 }

 .main{

 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	
 }

 .container{
	display: grid;
	
	grid-column-gap: 10px;
	grid-row-gap: 10px;

 }


 .item{

	grid-column-start: 1;
	grid-column-end: 3;
 	text-align: center;
 	
 }

.item2{

	text-align: left;

  }

/* .right{
	text-align: right
  }

.left{
	text-align: left;
}*/

 .text-item{ 

	text-align:left;

  }

.image{

	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

@media all and (min-width: 700px){ 
 .image-container{ 
 	background: yellow;
	display: grid;
	grid-auto-columns: 1fr 1fr; /*HOW MANY COLUMNS??  1fr 1fr or 3fr 1fr*/
	grid-column-gap: 20px;
	grid-row-gap: 20px;

}
  }

.culture-border{

	border: 1px solid #252121;

}