*{

	box-sizing: border-box;
}

body{
	margin: 2%;
}

.item, .item2, .current{
	padding: 2%;
}


nav ul {
	

	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: #33F6FF;*/
  /*background-color: #7AD9FF;*/
  background-color: #005070;


}

/*nav.blue ul {

	background-color: #33F6FF;

}*/

/*nav li {

	float:left;
	width: 20%;
	border-right: 1px solid #17202A;

}*/

nav li {

	display: inline-block;
	width: 23.5%;
	padding: 2%;
	/*color: #FF8A33;*/
  /*color: #FFE0C2;*/
  /*#F9E5D2*/

	

}

nav li a {

	display: block;
/*	float: left;*/
/*	padding: 5px 10px;
	width: 20%;*/
	text-align: center;
	text-decoration: none;


}

nav li a:hover{
	
	background-color: #A233FF;

}

.myButton {
  -moz-box-shadow:inset 0px 39px 0px -24px #FFE2C7;
  -webkit-box-shadow:inset 0px 39px 0px -24px #FFE2C7;
  box-shadow:inset 0px 39px 0px -24px #FFE2C7;
  background-color: #FFE2C7;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #FF923D;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family: 'Poppins';
  font-size:15px;
  padding:5px 38px;
  text-decoration:none;
  text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
  background-color: #796DFF;
}
.myButton:active {
  position:relative;
  top:1px;
}


 img {

	width: 45%;

 }

 body{ 
	
	font-family: 'Poppins', sans-serif;
	
  }

 .current{

  /*background-color: #A233FF;*/
  background-color: #6DFFED;


/* 	background-color: #FFA07A;*/

 }


.index-image{

  width: 400px;
  height: 400px;
 /* margin: 25px 10px;*/
/*  width: 100%;
  height: auto;*/

}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
/*  width: 100%;
  height: auto;*/
  border: 1px solid #f1f1f1;
  display: block;
  margin-left: auto;
  margin-right: auto;
 /* perspective: 1000px; *//* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 10px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  text-align: center;
}

/* Style the back side */
.flip-card-back {
  background-color: #1B3D61;
  color: white;
  transform: rotateY(180deg);
}


/* .background-image{

	background-image: url("../images/delhi.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	text-align: center;
	color: #1B3D61;
	margin: 25px 10px;



 }*/

 .main{

 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	
 }

 .carousel{

 	width: 100%;
 }

 .container{
	display: grid;
	
	grid-column-gap: 10px;
	grid-row-gap: 10px;

 }


 .item{

	grid-column-start: 1;
	grid-column-end: 3;
 	text-align: center;
 	
 }

.item2{

	text-align: left;

  }


/* .right{
	text-align: right
  }

.left{
	text-align: left;
}*/

 .text-item{ 

	text-align:left;

  }

.image{

	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.culture-border{

	border: 1px solid #252121;

}
/*
.cul-container{

  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.cul-item{

  flex-grow: 2;
  width: 160vh;
  align-self: center;

}*/

/* The grid: Two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.img-container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
 /* top: 10px;
  right: 15px;*/
  top: 5%;
  right: 23%;
  color: white;
  font-size: 35px;
  cursor: pointer;
}




/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.Dimages {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: -5px;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.picnum {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*Changing navigation style for mobile*/
 @media screen and (min-width: 320px) and (max-width: 767px) {
	nav li {
		float:none;
		width: 100%;
	}

 }


/*Making images larger on history page for tablet*/
 @media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
	/*[class^= "image"] {*/
		/*width: 100vh;*/
	/*}*/
	.image{
		border: 10px solid blue;
		width: 70vh;
		display:block;
	}

 }

/*Changing image layout on history page for desktop*/
@media all and (min-width: 992px){ 
 .image-container{ 
 	background: yellow;
	display: grid;
	grid-auto-columns: 1fr 1fr; /*HOW MANY COLUMNS??  1fr 1fr or 3fr 1fr*/
	grid-column-gap: 20px;
	grid-row-gap: 20px;

}
  }

/*Making images for Tab Gallery bigger on mobile*/
@media all and (min-width: 320px) and (max-width: 767px) {
 .column{
  
  width: 100%;
  background: pink;



 }

}




